/* External font for the web app: Manrope. PLEASE DO NOT DELETE */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.copy-notification {
  position: fixed;
  top: 27%;
  left: 72%;
  transform: translate(-50%, -50%);
  font-size: smaller;
  color: rgb(10, 107, 50);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.5s;
}
