@tailwind base;
@tailwind components;
@tailwind utilities;


.copy-notification {
    position: fixed;
    top: 38%;
    left: 57%;
    transform: translate(-50%, -50%);
    font-size: smaller;
    color: rgb(10, 107, 50);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s;
}
